<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>934796210047-rh28a8hevpj1lh6rkhrbe2dinb62v2hd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.934796210047-rh28a8hevpj1lh6rkhrbe2dinb62v2hd</string>
	<key>API_KEY</key>
	<string>AIzaSyD4Q_qaG678tQLaUDZZctIJPSXmJG7thog</string>
	<key>GCM_SENDER_ID</key>
	<string>934796210047</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tomas.apps</string>
	<key>PROJECT_ID</key>
	<string>tomaas-69283</string>
	<key>STORAGE_BUCKET</key>
	<string>tomaas-69283.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:934796210047:ios:ee14cf6e897534288e344a</string>
	<key>DATABASE_URL</key>
	<string>https://tomaas-69283-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>